homework_18/node_modules
homework_23/node_modules
homework_24/node_modules
homework_27/hw-app/node_modules
homework_28/rate-smile/node_modules
homework_29/todo-list/node_modules
homework_30/todo-list-func/node_modules
homework_31/spa-todo-list/node_modules
homework_32/todo-list-controlled/node_modules
homework_33/todo-react-f-form/node_modules
homework_34/redux-counter/node_modules
homework_34/redux-todo/node_modules
homework_35/swapi-redux/node_modules
homework_36/todo-redux-thunk/node_modules